<header id="main-header">
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark">
        <div class="container">

            <!-- IMG Logo -->
            <a href="/"><img src="images/logo.png" id="main-logo" class="navbar-brand" alt="logo" width="150"></a>

            <!-- Dropdown Button -->
            <button id="hamburger" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/limits">Block Limits</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/classes">Ship Classes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/rules">Rules</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/creator">World Creator</a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>
</header>