<!DOCTYPE html>
<html lang="en">
<head>
    <!-- META TAGS -->
    <meta charset="utf-8">
    <meta name="author" content="Horizons">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5"> 

    <!-- WEBSITE TITLE & DESCRIPTION -->
    <title>Space Engineers - Horizons</title>
    <meta name="description" content="Horizons is one of the Top Space Engineers Servers in the world showcasing an interlinked super cluster between Oceania, United States, and Europe!">
    <meta name="keywords" content="space engineers, horizons, australia, united states, germany">

    <!-- OG meta tags that improve the look of your post on social media -->
    <meta property="og:site_name" content="" /><!--website name-->
    <meta property="og:site" content="" /> <!--website link-->
    <meta property="og:title" content=""/> <!--Post title-->
    <meta property="og:description" content="" /> <!--Post description-->
    <meta property="og:image" content="" /><!-- Image link (jpg only)-->
    <meta property="og:url" content="" /> <!--where do you want your post to link to-->
    <meta property="og:type" content="article" />

    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="192x192"  href="images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="96x96" href="images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">

    <!-- STYLES -->
    <!-- Bootstrap -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <!-- FontAwesome -->
    <link href="/css/fontawesome.min.css" rel="stylesheet">
    <link href="/css/all.min.css" rel="stylesheet">
    <!-- Video Modal -->
    <link href="/css/modal-video.min.css" rel="stylesheet">
    <!-- Animations -->
    <link href="/css/animations.css" rel="stylesheet">
    <!-- Lightbox -->
    <link href="/css/lightbox.min.css" rel="stylesheet">
    <!-- Main Stylesheet -->
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
    <!-- Loading Screen -->
    <div id="loader-wrapper">
        <h1 class="loader-logo colored">H O R I Z O N S</h1>
        <div id="progress"></div>
        <h3 class="loader-text">LOADING</h3>
    </div>

    <!-- //// HEADER //// -->
    <header id="main-header">
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark">
            <div class="container">
                <!-- Site Logo
                <a id="main-logo" class="navbar-brand" href="https://www.horizons.gg"><span class="colored">/</span>HORIZONS<span class="colored">\</span></a>
                -->
                <!-- IMG Logo -->
                <a href="https://www.horizons.gg"><img src="images/logo.png" id="main-logo" class="navbar-brand" alt="logo" width="150"></a>
                <!-- Dropdown Button -->
                <button id="hamburger" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                </button>
                <!-- Navigation Links -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#regions">Regions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#limits">Block Limits</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#classes">Ship Classes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#rules">Rules</a>
                        </li>
                        <!-- Dropdown Menu -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle page-scroll" data-toggle="dropdown" href="#" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">Extras</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="terms_and_conditions.html"><span class="item-text">Terms &amp; Conditions</span></a>
                                <div class="dropdown-items-divide-hr"></div>
                                <a class="dropdown-item" href="privacy_policy.html"><span class="item-text">Privacy Policy</span></a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#cta">Purchase</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header><!-- Header End -->

    <!-- /// HERO SECTION /// -->
    <section id="hero-section">
        <div class="row hero-unit">
            <div class="hero-overlay"></div>
            <video autoplay loop muted poster="images/poster.jpg" id="bgvid" class="img-fluid">
                <source src="images/bg-vid.mp4" type="video/mp4"><!-- your video goes here -->
            </video>
            <div class="container">
                <div class="hero-caption"><!-- Main Tagline -->
                    <img src="images/headline.png" class="img-fluid headline" alt="source code">

                    <% if (locals.user) { %>

                        <% if (!locals.user.discord.id) { %>
                            <a href="/auth/discord" class="button">LINK DISCORD</a>
                        <% } %>

                        <% if (!locals.user.patreon.id) { %>
                            <a href="/auth/patreon" class="button">LINK PATREON</a>
                        <% } %>

                    <% } else { %>
                        <a href="/auth/steam" class="button">LINK ACCOUNT</a>
                    <% } %>

                </div>
            </div>
        </div>
    </section><!-- Hero Section End -->
    
    <!-- /// ABOUT SECTION /// -->
    <section id="about-section" class="full-width">
        <a id="about"></a><!-- Nav anchor -->
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-md-12">
                    <h1 class="short-hr-left">THE GAME</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mi eros, scelerisque vitae diam eu, malesuada pellentesque sapien. Aenean faucibus nisl lacus, non finibus mauris pulvinar et. Sed ultrices laoreet est, id gravida lorem tincidunt at.</p>
                    <p>Cras in mauris augue. Nulla eu tellus arcu. Duis aliquet sit amet tortor eget vestibulum. Pellentesque nunc libero, scelerisque vitae tristique id, maximus sed turpis.</p>    
                </div>
            </div>
        </div>
    </section>
    
    <!-- /// FEATURES SECTION /// -->
    <section id="features-section">
        <div class="container-fluid">
            <a id="regions"></a><!-- Nav anchor -->
            <div class="row features text-center">
                <div class="col-md-4 feature-card">
                    <h2 class="short-hr-center">OCEANIA</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mi eros, scelerisque vitae diam eu, Aenean faucibus nisl lacus, non.</p>
                </div>
                <div class="col-md-4 feature-card">
                    <h2 class="short-hr-center">EUROPE</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mi eros, scelerisque vitae diam eu, Aenean faucibus nisl lacus, non.</p>
                </div>
                <div class="col-md-4 feature-card">
                    <h2 class="short-hr-center">NORTH AMERICA</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mi eros, scelerisque vitae diam eu, Aenean faucibus nisl lacus, non.</p>
                </div>
            </div>
            <div class="row extra-features">
                <a id="limits"></a><!-- Nav anchor -->
                <div class="col-xl-4 col-md-12 text-center d-flex align-items-center">
                    <img src="images/weapon.png" class="img-fluid animation-element slide-in-left">
                </div>
                <div class="col-xl-8 col-md-12">
                    <h2 class="short-hr-left">BLOCK LIMITS</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras et convallis lorem, sed molestie nibh. Nam et accumsan ligula. Aliquam erat volutpat. Donec venenatis porta ligula ac placerat.
                    Cras in mauris augue. Nulla eu tellus arcu. Duis aliquet sit amet tortor eget vestibulum.</p>
                </div> 
            </div>
            <div class="row extra-features right">
                <a id="classes"></a><!-- Nav anchor -->
                <div class="col-xl-8 col-md-12">
                    <h2 class="short-hr-right">SHIP CLASSES</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras et convallis lorem, sed molestie nibh. Nam et accumsan ligula. Aliquam erat volutpat. Donec venenatis porta ligula ac placerat.
                    Cras in mauris augue. Nulla eu tellus arcu. Duis aliquet sit amet tortor eget vestibulum.</p>
                </div>
                <div class="col-xl-4 col-md-12 text-center d-flex align-items-center">
                    <img src="images/ship.png" class="img-fluid animation-element slide-in-right">
                </div>
            </div>
            <div class="row extra-features">
                <a id="rules"></a><!-- Nav anchor -->
                <div class="col-xl-4 col-md-12 text-center d-flex align-items-center">
                    <img src="images/gun.png" class="img-fluid animation-element slide-in-left">
                </div>
                <div class="col-xl-8 col-md-12">
                    <h2 class="short-hr-left">RULES</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras et convallis lorem, sed molestie nibh. Nam et accumsan ligula. Aliquam erat volutpat. Donec venenatis porta ligula ac placerat.
                    Cras in mauris augue. Nulla eu tellus arcu. Duis aliquet sit amet tortor eget vestibulum.</p>
                </div>
            </div>
        </div>
    </section>
    
    <!-- /// MEDIA SECTION /// -->
    <section id="media-section">
        <a id="media"></a><!-- Nav Anchor -->
        <div class="grid-gallery">
            <div class="row">
                <div class="col-md-4 gallery-item">
                    <a href="images/img.jpg" data-lightbox="studio_gallery">
                        <div class="overlay"></div>
                        <img src="images/placeholder.jpg" data-src="images/img.jpg" class="img-fluid b-lazy" alt="">
                    </a>
                </div>
                <div class="col-md-4 gallery-item">
                    <a href="images/img.jpg" data-lightbox="studio_gallery">
                        <div class="overlay"></div>
                        <img src="images/placeholder.jpg" data-src="images/img.jpg" class="img-fluid b-lazy" alt="">
                    </a>
                </div>
                <div class="col-md-4 gallery-item">
                    <a href="images/img.jpg" data-lightbox="studio_gallery">
                        <div class="overlay"></div>
                        <img src="images/placeholder.jpg" data-src="images/img.jpg" class="img-fluid b-lazy" alt="">
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 gallery-item">
                    <a href="images/img.jpg" data-lightbox="studio_gallery">
                        <div class="overlay"></div>
                        <img src="images/placeholder.jpg" data-src="images/img.jpg" class="img-fluid b-lazy" alt="">
                    </a>
                </div>
                <div class="col-md-4 gallery-item">
                    <a href="images/img.jpg" data-lightbox="studio_gallery">
                        <div class="overlay"></div>
                        <img src="images/placeholder.jpg" data-src="images/img.jpg" class="img-fluid b-lazy" alt="">
                    </a>
                </div>
                <div class="col-md-4 gallery-item">
                    <a href="images/img.jpg" data-lightbox="studio_gallery">
                        <div class="overlay"></div>
                        <img src="images/placeholder.jpg" data-src="images/img.jpg" class="img-fluid b-lazy" alt="">
                    </a>
                </div>
            </div>
        </div>
    </section>
    
    <!-- /// CTA SECTION /// -->
    <section id="cta-section" class="full-width">
        <a id="cta"></a><!-- Nav Anchor -->
        <div class="container">
            <div class="row tiny-margin cta-card">
                <div class="col-md-6">
                    <img src="images/game.png" class="img-fluid game-box animation-element slide-in-left">
                </div>
                <div class="col-md-6">
                    <h1>JOIN<br>THE<br>FIGHT</h1>
                    <a class="button" href="#">BUY NOW</a>
                    <p data-toggle="modal" data-target="#systemreq" class="modal-expand">System Requirements</p>
                </div>
                <!-- System Requirements Modal -->
                <div class="modal fade" id="systemreq" tabindex="-1" role="dialog" aria-labelledby="system requirements" aria-hidden="true">
                  <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h2 class="modal-title" id="system requirements">SYSTEM REQUIREMENTS</h2>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                          <h3>Minimum System Requirements</h3>
                          <ul>
                            <li><b>CPU:</b> Intel CPU Core i5-2500K 3.3GHz / AMD CPU Phenom II X4 940</li>
                            <li><b>RAM:</b> 6 GB</li>
                            <li><b>OS:</b> 64-bit Windows 7 or 64-bit Windows 8 (8.1)</li>
                            <li><b>VIDEO CARD:</b> Nvidia GPU GeForce GTX 660 / AMD GPU Radeon HD 7870</li>
                            <li><b>FREE</b> DISK SPACE: 40 GB</li>
                          </ul>
                          <br>
                          <h3>Recommended System Requirements</h3>
                          <ul>
                            <li><b>CPU:</b> Intel CPU Core i7 3770 3.4 GHz / AMD CPU AMD FX-8350 4 GHz</li>
                            <li><b>RAM:</b> 8 GB</li>
                            <li><b>OS:</b> 64-bit Windows 7 or 64-bit Windows 8 (8.1)</li>
                            <li><b>VIDEO CARD:</b> Nvidia GPU GeForce GTX 770 / AMD GPU Radeon R9 290</li>
                            <li><b>FREE</b> DISK SPACE: 40 GB</li>
                          </ul>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="button modal-btn" data-dismiss="modal">CLOSE</button>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-12">
                    <img src="images/platforms.png" class="img-fluid platforms">
                </div>
            </div>
        </div>
    </section>
    
    <!-- /// DLC SECTION /// -->
    <section id="dlc-section" class="full-width">
        <div class="container">
            <div class="row tiny-margin">
                <div class="col-xl-6">
                    <img src="images/dlc.jpg" class="img-fluid">
                </div>
                <div class="col-xl-6">
                    <div class="dlc-card">
                        <h2 class="short-hr-left">SUPERNOVA DLC</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mi eros, scelerisque vitae diam eu, malesuada pellentesque sapien. Aenean faucibus nisl lacus, non finibus mauris pulvinar et. Sed ultrices laoreet est, id gravida lorem tincidunt at.</p>
                        <a class="button" href="#">BUY ON PS4</a>
                        <a class="button" href="#">BUY ON XB1</a>
                        <a class="button" href="#">BUY ON PC</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6">
                    <img src="images/dlc.jpg" class="img-fluid">
                </div>
                <div class="col-xl-6">
                    <div class="dlc-card">
                        <h2 class="short-hr-left">REBIRTH DLC</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mi eros, scelerisque vitae diam eu, malesuada pellentesque sapien. Aenean faucibus nisl lacus, non finibus mauris pulvinar et. Sed ultrices laoreet est, id gravida lorem tincidunt at.</p>
                        <a class="button" href="#">BUY ON PS4</a>
                        <a class="button" href="#">BUY ON XB1</a>
                        <a class="button" href="#">BUY ON PC</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="extras" class="full-width">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <img src="images/headline.png" class="img-fluid headline" alt="source code">
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="row tiny-margin">
                        <div class="col-md-12">
                            <h1>STAY IN TOUTCH</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam venenatis tortor ut facilisis semper. Pellentesque dignissim sem in tincidunt aliquet.</p>
                        </div>
                    </div>
                    <div id="newsletter-box" class="row tiny-margin">
                        <div class="col-md-12">
                            <h3>NEWSLETTER</h3>    
                            <form id="newsletter" data-toggle="validator">
                                <input type="email" id="emailsign" placeholder="Your Email Address"> <!-- Email Field -->
                                <button type="submit" id="form-signup" class="button">SUBSCRIBE</button>
                                <div id="msgSignup" class="h3 text-center hidden"></div>
                            </form>
                        </div>
                    </div>
                    <div class="row social">
                        <div class="col-md-12">
                            <ul class="social-links"> <!-- Social Media Icons -->
                                <li><a href="#"><i class="fab fa-facebook-f fa-lg icon-social"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter  fa-lg icon-social"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram fa-lg icon-social"></i></a>
                                <li><a href="#"><i class="fab fa-youtube fa-lg icon-social"></i></a>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- /// FOOTER /// -->
    <div id="footer">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                    <div class="row brands">
                        <div class="col-md-4">
                            <a href="#">
                                <img src="images/brand1.png" class="img-fluid">
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="#">
                                <img src="images/brand2.png" class="img-fluid">
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="https://www.dedicatedgaming.com.au">
                                <img src="images/brand3.png" class="img-fluid">
                            </a>
                        </div>
                    </div>
                    <ul>
                        <li><a href="privacy_policy.html">Privacy &amp; Cookie Policy</a></li>
                        <li><a href="terms_and_conditions.html">Terms &amp; Conditions</a></li>
                    </ul>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-12">
                    <p id="copyright">&copy; HORIZONS <span id="year"></span></p><!-- Copyright Text -->
                </div>
            </div>
        </div>
    </div>
    
    <!-- //// SCRIPTS //// -->
    <script src="js/jquery-3.4.0.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/blazy.min.js"></script>
    <script src="js/jquery-modal-video.min.js"></script>
    <script src="js/lightbox.min.js"></script>
    <script src="js/validator.min.js"></script>
    <script src="js/arsnl.js"></script>
</body>
</html>