<!DOCTYPE html>
<html lang="en">
<head>
    <!-- META TAGS -->
    <meta charset="utf-8">
    <meta name="author" content="Horizons">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5"> 

    <!-- WEBSITE TITLE & DESCRIPTION -->
    <title>Server Rules - Horizons</title>
    <meta name="description" content="Server Rules for Horizons Space Engineers">
    <meta name="keywords" content="space engineers, horizons, australia, united states, germany">

    <!-- OG meta tags that improve the look of your post on social media -->
    <meta property="og:site_name" content="" /><!--website name-->
    <meta property="og:site" content="" /> <!--website link-->
    <meta property="og:title" content=""/> <!--Post title-->
    <meta property="og:description" content="" /> <!--Post description-->
    <meta property="og:image" content="/images/gun.png" /><!-- Image link (jpg only)-->
    <meta property="og:url" content="" /> <!--where do you want your post to link to-->
    <meta property="og:type" content="article" />

    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="192x192"  href="images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="96x96" href="images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">

    <!-- STYLES -->
    <!-- Bootstrap -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <!-- FontAwesome -->
    <link href="/css/fontawesome.min.css" rel="stylesheet">
    <link href="/css/all.min.css" rel="stylesheet">
    <!-- Video Modal -->
    <link href="/css/modal-video.min.css" rel="stylesheet">
    <!-- Animations -->
    <link href="/css/animations.css" rel="stylesheet">
    <!-- Lightbox -->
    <link href="/css/lightbox.min.css" rel="stylesheet">
    <!-- Main Stylesheet -->
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>

    <%- include('./components/loader') %>
    <%- include('./components/header') %>

    <div class="extra-page">
        <!-- /// HERO SECTION /// -->
        <section id="hero-section" class="extra-page">
            <div class="row hero-unit">
                <div class="container">
                    <div class="row text-center">
                        <div class="col-md-12">
                            <div class="hero-caption"><!-- Main Tagline -->
                                <h1>SERVER RULES</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- Hero Section End -->

        <!-- Breadcrumbs -->
        <nav aria-label="breadcrumb" class="small-margin breadcrumb-nav">
            <div class="container">
                <div class="row">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Space Engineers</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Server Rules</li>
                    </ol>
                </div>
            </div>
        </nav>

        <section class="extra-page small-margin">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 offset-lg-1">
                        
                        <div class="text-container tiny-margin">
                            <h3>General Rules</h3>
                            <ul>
                                <li>All grids should be named to properly receive support from staff.</li>
                                <li>Do not convert stations to ships when built into asteroids.</li>
                                <li>No respawn ship farming.</li>
                                <li>Do not intentionally cause server lag.</li>
                                <li>No abuse of game mechanics to give yourself an unfair advantage and no exploits of the game.</li>
                                <li>Avoid using conveyor blocks where tubes can be used, staff will tell you if there is an issue.</li>
                                <li>Do not abuse faction peace or inside factions to raid them.</li>
                                <li>Do not intentionally crash large grids into voxels.</li>
                            </ul><br/>

                            <h3>Behavioral Rules</h3>
                            <ul>
                                <li>This Community is based in Oceania, North America, and Europe. Please stick to using native languages to these regions in chat.</li>
                                <li>No NSFW chat relating to gore, sexually explicit content, or hate speech to other players.</li>
                            </ul><br/>

                            <h3>Engagement Rules</h3>
                            <ul>
                                <li>Any Attempt to engage other players in PvE Sectors (Earth, Gliese, and Kepler) will result in a ban.</li>
                                <li>Do not use Build & Repairs as a weapon.</li>
                                <li>Do not foundation wipe players, you must leave them with enough equipment to continue playing.</li>
                            </ul><br/>

                            <h3>Clarifications</h3>
                            <ul>
                                <li>Make sure to rename grids that you capture from NPCs or Spawn pods otherwise they will be deleted.</li>
                                <li>Staff members can only defend & retaliate to PvP Combat.</li>
                            </ul><br/>

                        </div> <!-- end of text-container-->
                        
                    </div>
                </div>
            </div>
        </section>

        <!-- Breadcrumbs -->
        <nav aria-label="breadcrumb" class="breadcrumb-nav">
            <div class="container">
                <div class="row">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Space Engineers</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Server Rules</li>
                    </ol>
                </div>
            </div>
        </nav>

        <!-- /// FOOTER /// -->
        <div id="footer-extra">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h3>About Horizons</h3>
                        <p>TBD</p>
                    </div>
                    <div class="col-md-4">
                        <h3>Important Links</h3>
                        <ul class="extra-links">
                            
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h3>Social Links</h3>
                        <ul class="social-links"> <!-- Social Media Icons -->
                            <li><a href="#"><i class="fab fa-discord icon-social"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-md-12">
                        <p id="copyright">&copy; HORIZONS <span id="year"></span></p><!-- Copyright Text -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- //// SCRIPTS //// -->
    <script src="js/jquery-3.4.0.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/blazy.min.js"></script>
    <script src="js/jquery-modal-video.min.js"></script>
    <script src="js/lightbox.min.js"></script>
    <script src="js/validator.min.js"></script>
    <script src="js/arsnl.js"></script>    
</body>